body{
	background: #EAEDED;
}
td,th{
	font-size: 14px;
	text-align: center
}
/* login */

.login-wrapper{
	background: white;
	margin: 10% auto;
	padding: 20px 60px;
	width: 500px;
}



/*header wrapper*/
.header-wrapper{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 30px;
	color: white;
	
	background: #154360;

}

/* page wrapper  */
.page-wrapper{
	width: 100%;
	position: absolute;
	transition: 0.1s;
	padding-left: 13%;
	padding-top: 10px;
}
/* info row */
.info-row{
	padding: 5px;
}
/* tool row */
.tool-row{
	background: white;
	padding: 10px;
	margin-bottom: 10px;
}

.tool-row .row{
	margin: 10px;
}
/* table row */
.table-row{
	background: white
}
.table-row .row{
	padding: 20px 0px 20px 20px;
}

/* form row */
.form-row{
	background: white
}
.form-row .row, h4{
	padding: 10px 0px 10px 50px;
}
/* cart row */
.cart-row{
	/*overflow-x: hidden;*/
	background: white;
	padding: 0 10px;
	border-bottom: 5px #EAEDED dashed;
	margin-bottom: 10px;
}
.cart-row td,th{
	text-align: center;
}
.kasir-row{
	overflow-x: hidden;
	background: white;
	height: 400px;
	padding: 0 10px;
	border-bottom: 5px #EAEDED dashed;
	margin-bottom: 10px;
}
.kasir-row td,th{
	text-align: center;
}
.td-qty{
	width: 10%;
}
.td-keterangan{
	width: 15%;
}
.td-total,.td-harga_jual{
	width: 15%;
}
.cart-row2{
	overflow-x: hidden;
	height: 400px;
}
.cart-harga{
	padding: 5px 0px;
}
/* tr pel row */
.menu-row{
	overflow-x: hidden;
	padding: 10px;
	height: 500px;
	background: white;
	margin-left: -20px;
	margin-bottom: 10px;
	border-bottom: 5px #EAEDED dashed;
}
.header-menu-row{
	padding: 10px;
	background: white;
	margin-left: -20px;
}
.menu-item{
	padding: 10px;
}
.menu-item:hover{
	background: aliceblue;
}
.row-button{
	padding-left:10px;
}



/* sidebar wrapper */
.sidebar-wrapper{
	z-index: 2;
	width: 13%;
	position: fixed;
	height: 100%;
	overflow-y: hidden;
	background: white;
	transition: 0.1s;
	font-weight: 300;
	letter-spacing: 1px;
}

.wrapper.toggled .sidebar-wrapper{
	width: 0%;	
}
.wrapper.toggled .header-wrapper{
	padding-left: 0%;
}
.wrapper.toggled .page-wrapper{
	padding-left: 0%;
}

.sidebar-wrapper ul{
	padding: 0px;
	list-style: none;

}
.sidebar-wrapper li a{
	text-decoration: none;
	padding: 15px;
	display: block;
	color: black;
}
.sidebar-wrapper .brand p {
	padding: 20px 0px;
	text-decoration: none;
	display: block;
	color: white;
	background: #154360
}
.sidebar-wrapper li a.active{
	background: #F2F3F4;
	color: #34495E;
	border-left: 7px solid #34495E;
}
.sidebar-wrapper li a:hover{
	background: #F2F3F4;
	transition: 0.1s;
	border-left: 7px solid #34495E;
	color: #34495E;
}


.sidebar-collapse li a{
	padding-left:30px;
	background: #154360; 
}
.version{
	position: absolute;
	bottom: 1px;
}

/* error */

.error{
	color: red;
}


/* transaksi */
.keranjang{
	height: 400px;
	overflow: auto;

}
.divtotal{

	position: fixed;
	width: 80%;
	bottom: 1px;
}
.table-makanan,.table-minuman tr:hover{
	cursor: pointer;
}


/* laporan */

.info-row{
	background: #F8F9F9
}
.card-block{
	color: #154360;
	font-weight: lighter;
}

.btn-custom,.tag-custom,.btn-outline-custom:hover{
	background: #154360;
	border-color: #154360;
	color: white
}

.btn-custom:hover,.btn-outline-custom{
	background: #fff;
	border-color: #1B4F72;
	color: #1B4F72
}

 .fade {
   opacity: 0;
   -webkit-transition: opacity 0.05s linear;
      -moz-transition: opacity 0.05s linear;
       -ms-transition: opacity 0.05s linear;
        -o-transition: opacity 0.05s linear;
           transition: opacity 0.05s linear;
 }